.vencedor {
  position: relative;
  display: inline-block;
  border: 10px solid var(--dark-gray);
  border-bottom: 10px solid var(--blue);
  border-right: 10px solid var(--blue);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all .25s;
  width: 200px;
  height: 200px;
  cursor: pointer;
  outline: none;
}

@media(max-width: 768px) {
  .vencedor {
    width: 90vw;
    height: 90vw;
  }
}

.imagem-container {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.vencedor-imagem {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform .25s;
}

.vencedor-conteudo {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  text-shadow: 0 0 2px var(--blue);
  background-color: var(--blue);
  transition: background-color .25s, height .25s;
}
.vencedor .jogo-titulo {
  text-align: center;
  overflow-wrap: break-word;
  padding: 1rem;
  font-size: 1.25rem;
}

.vencedor .conteudo {
  display: none;
}

.vencedor:hover .conteudo {
  display: block;
}
.vencedor:hover .vencedor-conteudo {
  height: 100%;
} 

.colocacao {
  width: 50px;
  height: 50px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-align: center;
  border: 2px solid var(--white);
  box-shadow: 0 0 0 4px var(--blue);
  color: var(--white);
  font-family: 'Audiowide', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  right: -20px;
}